.Clients-Container {
  width: 100%;
  height: auto;
  position: relative;
  background-color: transparent;
  padding: 10px;
  .Clients-title {
    text-align: center;
    font-family: "Aref Ruqaa", serif;
    font-weight: bold;
    font-size: 60px;
    color: #000;
    padding: 10px;
  }
  .Clients-datatable {
    position: relative;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
  }
}
